.row-custom {
  background-color: rgb(26, 26, 26);
  color: #fff;
  height: 500px;
  cursor: pointer;
}
.ace_editor {
  height: 500px;
}
.margin-left {
  padding-left: 0;
}
[draggable="true"] {
  cursor: move;
}
.CodeMirror {
  height: 500px;
}
.resizable {
  overflow: scroll;
  resize: vertical;
  max-height: 500px;
  min-height: 90px;
}
.ankers:hover {
  text-decoration: none;
  color: #fff;
  background-color: rgb(75, 75, 75);
  width: 200px;
}
.explorer {
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: black;
  color: #fff;
}
.header {
  background-color: rgb(19, 19, 19);
}
.container-main {
  width: 97%;
}
.row {
  margin: 0;
  padding: 0;
}
.col-10 {
  padding: 0;
}
.subtile {
  background-color: rgb(26, 26, 26);
  height: 100%;
  width: 15%;
  padding: 7px;
  text-align: center;
  color: #fff;
}
.editor-header {
  position: relative;
  height: 100%;
}
.savebutton {
  position: absolute;
  right: 20px;
  width: 8%;
  margin-top: 2px;
}
.live-view {
  height: 100vh;
}
